<form #formpart2="ngForm" (ngSubmit)="signin(formpart2)">
  
  <fieldset>
    <legend>Features</legend>
    <div class="col-sm-5">
      <input type="checkbox" id="GPS" name="GPS" value="GPS" ngModel>
      <label for="GPS">GPS</label>
    </div>
    <div class="col-sm-5">
      <input type="checkbox" id="SecurityLock" name="SecurityLock" value="SecurityLock" ngModel>
      <label for="SecurityLock">Security Lock</label>
    </div>
    <div class="col-sm-5">
      <input type="checkbox" id="CargoMat" name="CargoMat" value="CargoMat" ngModel>
      <label for="CargoMat">CargoMat</label>
    </div>
  </fieldset>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Purchase Date</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" id="inputEmail3" placeholder="PurchaseDate" ngModel name="PurchaseDate">
    </div>
  </div>
  

  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
</form>